psycopg2>=2.6

# Transformation scripts
#git+https://github.com/CityOfPhiladelphia/property-assessments-data-pipeline.git#egg=phl-property==1.0.0
#git+https://github.com/CityOfPhiladelphia/trip-data-pipeline.git#egg=phl-taxi-trip-data-pipeline


# =====================================
# Requirements for custom operators

cx_Oracle==5.2.1
pymssql
git+https://github.com/CityOfPhiladelphia/datum.git@cli#egg=datum[oracle_stgeom,postgis]
slackclient==1.0.2

# -------------------------------------
# Better SFTP support

pysftp==0.2.9

#git+https://github.com/CityOfPhiladelphia/s3-sftp-sync.git
