[Unit]
StopWhenUnneeded=true

[Service]
User=admin
ExecStart=/bin/bash -lc 'airflow scheduler'
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=process
